<% include partials/header %>

<div class="container">

<form action="/addComments/<%=match._id %>" method="POST">

    <div class="form-group">
      <label for="text">Add comment for Round <%=match.round %>:</label>
      <textarea class="form-control" rows="3" cols="50" id="text" name="comment[text]" placeholder="Type comment here"></textarea>
    </div>
        <div class="form-inline">
        <input type="submit" class="form-control btn btn-outline-success col-2">
        </div>

</form>

</div>
<% include partials/footer %>