<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="public/stylesheets/main.css">
    <title>Team Manager</title>

<div class="container">
<br>
<% if (error && error.length > 0){%>
  <div class= "alert alert-danger" role="alert">
    <%= error %>
  <% } %>
</div>
</div>
<div class="container">
<br>
<% if (success && success.length >0){%>
    <div class= "alert alert-success" role="alert">
      <%= success %>
    <% } %>
    </div>
  </div>


<div class="container">

<h3>Welcome to the registration page!</h3>

<form action="/register" method="POST">
    <div class="form-group col-md-4">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="username" placeholder="Username">
    </div>
    <div class="form-group col-md-4">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="email" placeholder="Email address">
    </div>
    <div class="form-group col-md-4">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
    </div>
    <% if (isAdmin) { %>
      <input type="hidden" name="isAdmin" value=true>
      <% } %>
    <div class="form-group col-md-4">
        <input type="submit" class="btn btn-primary" value="Register!">
    </div> 
</form>

</div>

<% include partials/footer %>